@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-y: scroll;

}

.hero {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  background: linear-gradient(117deg, rgba(37, 4, 51, 1) 2%, rgba(0, 43, 43, 1) 50%, rgba(37, 4, 51, 1) 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10PX 30px;
}

.nav-links {
  display: flex;
}

.hamburger-icon {
  display: none;
  font-size: 2rem;
  font-weight: bolder;
  color: #bf00ff;
  cursor: pointer;
  z-index: 1001;
}

nav img {
  height: 100px;
  width: 200px;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.027);
  backdrop-filter: blur(3px);
  padding: 10px 0;
  border-radius: 12px;
}

nav ul li {
  list-style: none;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: large;
  padding: 8px 10px;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: #bf00ff;
}

nav ul li button {
  padding: 8px 16px;
  background: #bf00ff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s ease;
}


nav ul li button:hover {
  color: #bf00ff;
  background-color: #fff;
  transition: 0.3s ease;
}

marquee {
  color: whitesmoke;
  background-color: #bf00ff;
  padding: 10px 0;
  margin: 10px 20px;
  font-weight: bolder;
  border-radius: 20px;

}


.heading {
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
  align-content: center;
  justify-items: center;
}

.heading h2 {
  color: #f2aadf;
  font-size: 5vw;
  background: rgba(117, 97, 97, 0.139);
  backdrop-filter: blur(3px);
  padding: 10px;
  border-radius: 12px;
}

.heading h2 b {
  color: #9c2bfd;
}

.content section {
  margin-bottom: 40px;
  padding: 50px;
}

.content h4 {
  color: #9c2bfd;
  margin-bottom: 15px;
  font-size: 4vh;
}

.content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #000000;
}

footer {
  background: #0d0d0d;
  margin-top: 30px;
  color: #b1d3e2;
  padding: 60px 20px 40px;
  font-family: 'Poppins', sans-serif;
  min-height: 300px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-container .footer-brand img {
  height: 100px;
  width: 200px;
  margin: 0 auto;
  display: block;
}

.footer-container div {
  flex: 1;
  min-width: 200px;
}

.footer-container h3 {
  color: #9c2bfd;
  margin-bottom: 12px;
  text-align: center;
}


.footer-links ul,
.footer-contact ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer-links ul li,
.footer-contact ul li {
  margin: 8px 0;
}

.footer-links ul li a,
.footer-contact ul li a {
  color: #b1d3e2;
  text-decoration: none;
  transition: 0.3s ease;
  font-size: 1rem;
  display: inline-block;
}

.footer-links ul li a:hover,
.footer-contact ul li a:hover {
  color: #bf00ff;
  text-decoration: underline;
}

.footer-socials .social-icons {
  text-align: center;

}

.footer-socials .social-icons a {
  margin-right: 10px;
  color: #bf00ff;
  font-size: 1.5rem;
  transition: 0.3s ease;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 8px;
}

.footer-socials .social-icons a:hover {
  transform: scale(1.2);
  background: #bf00ff;
  color: #ffffff;

}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer-bottom a {
  text-decoration: underline;
  color: #b1d3e2;
  margin: 0 5px;
}

.created-by {
  display: flex;
  align-items: center;
  gap: 15px;
}

.created-by p {
  font-size: 0.9rem;
  color: #8e8e8e;
}

.blur-icons a {
  display: inline-block;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 8px;
  margin-right: 10px;
  transition: 0.3s ease;
  color: #ffffff;
  font-size: 1.2rem;
}

.blur-icons a:hover {
  background: #bf00ff;
  color: #ffffff;
}

.copyright {
  text-align: right;
  font-size: 0.9rem;
  color: #b1d3e2;

}

.copyright a {
  transition: 0.3s ease;
}

.copyright a:hover {
  color: #bf00ff;
  text-decoration: underline;
}