* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  background: #250433;
  background: linear-gradient(117deg, rgba(37, 4, 51, 1) 2%, rgba(0, 43, 43, 1) 50%, rgba(37, 4, 51, 1) 100%);
}

body {
  overflow-y: scroll;
}

.hero{
    background-color: #0d0d0d;
    height: 100vh;
    width: 100%;
    min-height: 100vh; 
    overflow: hidden; 
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10PX 30px;
}

nav img{
    height: 100px;
    width: 200px;
}
nav ul {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
   background: rgba(255, 255, 255, 0.027);
  backdrop-filter: blur(3px);
  padding: 10px 0;
  border-radius: 12px;
}

nav ul li {
  list-style: none;
  margin: 0 15px; 
}

nav ul li a {
  text-decoration: none;
  color: #ffffff; 
  font-weight: 500;
  font-size: larger;
  padding: 8px 12px;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: #bf00ff; 
}

nav ul li button {
  padding: 8px 16px;
  background: #bf00ff; 
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s ease;
}


nav ul li button:hover{
    color: #bf00ff;
    background-color: #fff;
    transition: 0.3s ease;
}

.landing {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px); 
  overflow: hidden;
}

.landing img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}


.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.753); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}


.landing .overlay h1 {
  font-size: 3.2rem;
  margin-bottom: 10px;
  color: #f2aadf;
  animation: landing 2s ease-in-out;
}

@keyframes landing {
  0%{
    translate: 100%;
    scale: 1;
  }
}

.landing .overlay h1 b{
    color: #9c2bfd;
}
.landing .overlay p {
  font-size: 2.2rem;
  font-weight: 800;
  color: #b1d3e2;
  animation: para 2s ease-in-out;
}
@keyframes para{
  0%{
    translate: -100%;
    scale: 1;
  }
}

.about-section {
    display: flex;
    color: #b1d3e2;
    padding: 60px 20px;
    text-align: center;
}

.about-container {
    max-width: 900px;
    margin: auto;
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f2aadf;
    animation: topbottom 2s ease-in;
    animation-delay: 2s;
    
}

@keyframes topbottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-section h2 b{
    color: #8d4cc5;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.about-section p {
    font-size: 2.1rem;
    line-height: 1.4;
    color: #f2aadf;
    
}
.about-section p b{
    color: #9c2bfd;
}
.about-section button {
    margin-top: 30px;
    padding: 10px 30px;
    background: #bf00ff;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.about-section button:hover {
    background: #fff;
    color: #bf00ff;
}

.about-section .abtimg{
  height: 500px;
  width: 950px;
}

.about-section .abtimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;     
  display: block;  
  border-radius: 30%; 
}



.wcu-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #b1d3e2;
    padding: 30px 50px;
    margin-bottom: 10px;
    text-align: center;
}
.wcu-section h2 b{
    color: #8d4cc5;
}

.wcu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b1d3e2;
    padding: 30px 50px;
    
}

.wcu-container ul{
  font-size: 25px;
}